[submodule "lib/vorbis"]
	path = lib/vorbis
	url = https://github.com/native-toolkit/vorbis
[submodule "lib/openal"]
	path = lib/openal
	url = https://github.com/native-toolkit/openal
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/native-toolkit/curl
[submodule "lib/ogg"]
	path = lib/ogg
	url = https://github.com/native-toolkit/ogg
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/native-toolkit/zlib
[submodule "lib/neko"]
	path = lib/neko
	url = https://github.com/native-toolkit/neko
[submodule "lib/png"]
	path = lib/png
	url = https://github.com/native-toolkit/png
[submodule "lib/jpeg"]
	path = lib/jpeg
	url = https://github.com/native-toolkit/jpeg
[submodule "lib/freetype"]
	path = lib/freetype
	url = https://github.com/native-toolkit/freetype
[submodule "lib/harfbuzz"]
	path = lib/harfbuzz
	url = https://github.com/native-toolkit/harfbuzz
[submodule "lib/cairo"]
	path = lib/cairo
	url = https://github.com/native-toolkit/cairo
[submodule "lib/pixman"]
	path = lib/pixman
	url = https://github.com/native-toolkit/pixman
[submodule "lib/lzma"]
	path = lib/lzma
	url = https://github.com/native-toolkit/lzma
[submodule "lib/tinyfiledialogs"]
	path = lib/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs
[submodule "lib/efsw"]
	path = lib/efsw
	url = https://github.com/native-toolkit/efsw
[submodule "lib/vpx"]
	path = lib/vpx
	url = https://github.com/native-toolkit/vpx
[submodule "lib/webm"]
	path = lib/webm
	url = https://github.com/native-toolkit/webm
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/native-toolkit/mbedtls
[submodule "lib/mojoal"]
	path = lib/mojoal
	url = https://github.com/native-toolkit/mojoal
[submodule "lib/hashlink"]
	path = lib/hashlink
	url = https://github.com/HaxeFoundation/hashlink
[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/Project-Ever-Changing/libsdl.git
